/* ========== REGISTER FORM HEADER ========== */

.pawspa-register__header {
    position: relative;
    margin-bottom: 36px;
}

.pawspa-register__icon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pawspa-register__title {
    text-transform: uppercase;
    color: #410075;
    font-weight: bold;
    font-size: 36px;
}

/* ========== INPUT PHONE (intl-tel-input) ========== */

.iti {
    width: 100%;
}

.iti__tel-input {
    width: 100%;
    padding-left: 90px !important;
    box-sizing: border-box;
}

.iti--separate-dial-code .iti__selected-flag {
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.iti__flag-container {
    padding-left: 10px;
}

/* ========== BACKGROUND VISUAL ========== */

.pawspa-form__background--register {
    flex: 50%;
    background: radial-gradient(circle at center,
            #ffffff 0%,
            #d7f1f6 25%,
            #A1BE97 50%,
            #A1BE97 100%);
    padding: 40px 30px;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}